@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html, body, header, main {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background: var(--light-blue);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  font-style: normal;
  list-style: none;
}
button, a {
  cursor: pointer;
  background: transparent;
}

:root {
  --base-font: 'Poppins', sans-serif;
  /* base colours */
  --navy-blue: rgba(0, 0, 58, 1);
  --light-blue: rgba(230, 230, 245, 1);
  --red: rgba(247, 68, 74, 1);
  --yellow: rgba(245, 186, 87, 1);
  --green: rgba(50, 196, 137, 1);
  --white: rgb(248, 248, 248);
}

header {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 48px 5% 32px;
  gap: 16px;
}
header .go-back {
  position: absolute;
  font-family: var(--base-font);
  font-size: 20px;
  color: var(--navy-blue);
  display: flex;
  gap: 5px;
  align-items: center;
  left: 5%;
  top: 22px;
  bottom: 0;
  margin: auto 0;
  height: 30px;
}
header .go-back > svg {
  width: 20px;
  height: 27px;
}
header h1 {
  font-family: var(--base-font);
  font-size: 40px;
  color: var(--navy-blue);
  text-align: center;
}
button {
  font-family: var(--base-font);
  font-size: 17px;
  background: var(--white);
  color: var(--navy-blue);
  border: 1px solid var(--navy-blue);
  padding: 12px 20px;
  border-radius: 10px;
  transition: .3s ease-in-out;
}
button:hover {
  background: var(--navy-blue);
  color: var(--white);
  border: 1px solid var(--white);
}
button > svg > path {
  fill: var(--navy-blue);
  transition: .3s ease-in-out;
}
button:hover > svg > path {
  fill: var(--white);
}
main {
  display: flex;
  justify-content: center;
}
main > div {
  width: 100%;
  max-width: 1100px;
  padding: 12px 5% 48px;
  display: flex;
  flex-flow: column nowrap;
  gap: 16px;
}




/* Loader css styles */
#loader-cont{
  width: 100%;
  position: absolute;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(214, 243, 231, 1);
  z-index: 99999;
}
.loader {  
  width: 150px;
  height: 150px;
  border-top: 14px solid rgba(0, 0, 58, 1);
  border-radius: 50%; 
  animation: load .2s linear infinite; 
}
/* Loader animation */
@keyframes load {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



@media screen and (max-width: 650px) {
  header h1 {
    font-size: 30px;
  }
}