form#formParent label {
    font-weight: 700;
    font-size: 18px;
}
form#formParent input {
    font-size: 17px;
    font-weight: 400;
}
form#formParent input#job-title {
    text-transform: capitalize;
}
.select-option {
    width: 100%;
    position: relative;
}
ul.option-dropdown {
    position: absolute;
    width: 100%;
    top: 42px;
    background: var(--white);
    border: 1px solid var(--navy-blue);
    z-index: 9999;
    overflow: hidden;
    transition: .3s ease-in-out;
}
ul#level-dd.option-dropdown {
    height: 0;
}
ul.option-dropdown li {
    padding: 4px 10px;
    border-top: 1px solid var(--navy-blue);
    user-select: none;
    font-size: 13px;
}
ul.option-dropdown li:hover {
    cursor: pointer;
    color: var(--white);
    background: var(--navy-blue);
}
div.select-option button.select-icon {
    position: absolute;
    background: transparent;
    padding: 0;
    border: 1px solid transparent;
    z-index: 999;
    top: 0;
    bottom: 0;
    margin: auto 0;
    right: 15px;
    display: flex;
    height: 20px;
}
div.select-option button.select-icon > svg {
    width: 20px;
    height: 20px;
}
div.select-option button.select-icon > svg > path {
    fill: var(--navy-blue);
}
  
form#formParent {
    font-family: var(--base-font);
    align-items: center;
}
form#formParent, form#formParent > div {
    display: flex;
    flex-flow: column nowrap;
    gap: 25px;
}
form#formParent div.input-data-row {
    display: flex;
    gap: 15px;
}
form#formParent div.input-data-row > div {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    max-width: 200px;
    gap: 7px;
}
form#formParent div.input-data-row > div a {
    width: 100%;
}
form#formParent div.input-data-row > div input {
    width: 100%;
    background: transparent;
    border: 1px solid transparent;
}
form#formParent div.input-data-row > div input {
    border: 1px solid var(--navy-blue);
    padding: 10px;
}
form#formParent > button {
    display: block;
    width: 180px;
}
  