#search-bar {
  width: 100%;
  max-width: 450px;
  height: 45px;
  display: flex;
  border: 1px solid var(--navy-blue);
  border-radius: 10px;
  overflow: hidden;
}
#search-bar > input {
  height: 100%;
  width: 75%;
  font-family: var(--base-font);
  font-size: 15px;
  color: var(--navy-blue);
  padding-left: 15px;
  text-transform: capitalize;
}
#search-bar > button {
  height: 100%;
  width: 25%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
#tool-kits {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#add-candidate {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  width: 240px;
}
#add-candidate > svg {
  width: 20px;
  height: 20px;
}
#pagination-ctrl > button {
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
#pagination-ctrl > button.current-page {
  background: var(--navy-blue);
  color: var(--white);
}
table {
  width: 100%;
  border-radius: 8px;
  padding: 16px 12px;
  background: var(--white);
  border-collapse: separate;
  border-spacing: 0 1em;
}
tr {
  font-family: var(--base-font);
  color: var(--navy-blue);
  background: var(--white);
  text-align: center;
  cursor: pointer;
}
tbody > tr {
  user-select: none;
}
tbody > tr:hover {
  color: var(--white);
  background: rgba(0, 0, 58, .6);
}
th {
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 900;
}
td {
  font-size: 15px;
  font-weight: 400;
}
#home-pg {
  width: 100%;
}

@media screen and (max-width: 800px) {
  #home-pg {
    width: 100%;
    overflow: scroll;
    border: 1px solid red;
  }
  #home-pg::-webkit-scrollbar {
    height: 5px;
  }
  #home-pg::-webkit-scrollbar-track {
    background: var(--white); 
  }
  #home-pg::-webkit-scrollbar-thumb {
    background: var(--navy-blue); 
      border-radius:10px;
  }
  #home-pg > table {
    min-width: 718px;
  }
  @media screen and (max-width: 425px) {
    #add-candidate {
      width: 100px;
    }
    #add-candidate > span {
      display: none;
    }
  }
}