.login-form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--base-font);
    gap: 20px;
    color: var(--navy-blue);
}
.login-form > form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}
.login-form > form button {
    margin-top: 15px;
}
.login-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.login-input label {
    font-weight: 700;
    font-size: 18px;
}
.login-input input {
    font-size: 17px;
    font-weight: 400;
    padding: 10px 15px;
    border-radius: 8px;
    border: 1px solid transparent;
    transition: border .3s ease-in-out;
}
.login-input input:focus {
    border: 1px solid var(--navy-blue);
}
.input-cnt {
    position:relative;
    width: 100%;
    height: 45px;
}
.input-cnt input {
    width: 100%;
    height: 100%;
}
.input-cnt .view-password, .input-cnt .view-password:hover {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    bottom: 0;
    right: 20px;
    margin: auto 0;
    background: transparent;
    color: transparent;
    border: 1px solid transparent;
    padding: 0;
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}
.view-password > svg {
    width: 100%;
    height: 100%;
}
.input-cnt .view-password:hover > svg > path, .view-password > svg > path {
    fill: var(--navy-blue);
}
