.homeActionPanel {
    width: 100%;
}

.addApplicantBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 180px;
    height: 40px;
    gap: 8px;
    font-size: 16px;
    background: var(--white);
    color: var(--navy-blue);
    border: 1px solid var(--navy-blue);
    border-radius: 10px;
    transition: .3s ease-in-out;
}

.addApplicantBtn:hover {
    background: var(--navy-blue);
    color: var(--white);
    border: 1px solid var(--white);
}
.addApplicantBtn > svg {
    width: 20px;
    height: 20px;
}

.addApplicantBtn > svg > path {
    fill: var(--navy-blue);
    transition: .3s ease-in-out;
}
.addApplicantBtn:hover > svg > path {
    fill: var(--white);
}